@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TTRoundsNeue';
  src: url('/font/TT Rounds Neue Trial Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  font-family: 'TTRoundsNeue', sans-serif;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.9s cubic-bezier(0.23, 1, 0.32, 1) both;
}
